<ion-card class="adv-map">
    <ion-item>
        <button lite clear item-left (click)="toggleFavourite()">
            <ion-icon name="star-outline" *ngIf="!list.favouriteb"></ion-icon>
            <ion-icon name="star" *ngIf="list.favouriteb"></ion-icon>
        </button>
        <h2 (click)="showMap(list)">{{ list.name | maxLength }}</h2>
        <span item-right (click)="showMap()">
            <ion-icon name='arrow-down' md="ios-arrow-down" *ngIf="!list.showMap"></ion-icon>
            <ion-icon name='arrow-up' md="ios-arrow-up" *ngIf="list.showMap"></ion-icon>
        </span>
    </ion-item>
    <div *ngIf="list.showMap">
        <img src="http://placehold.it/350x150">
        <!--<button fab fab-right fab-top class="fab-map" (click)="createReminder()">
                    <ion-icon name="alarm"></ion-icon>
                </button>-->
    </div>
    <ion-item actions>
        <span item-left primary style="font-size:1.2rem">
                    <ion-icon name='pin'></ion-icon>
                    {{ list.numLocations }} locations
                </span>
        <button item-right clear class="fab-map" (click)="createReminder()">
            <!--<ion-icon name="alarm"></ion-icon>-->
            Create reminder
        </button>
        <button primary clear item-right (click)="edit()">
            <!--<ion-icon name='create'></ion-icon>-->
            Edit
        </button>
    </ion-item>
</ion-card>