<ion-card class="adv-map">
    <ion-item>
        <ion-icon primary large item-left name='notifications' *ngIf="reminder.activeb" (click)="toggleActive()"></ion-icon>
        <ion-icon primary large item-left name='notifications-off' *ngIf="!reminder.activeb" (click)="toggleActive()"></ion-icon>
        <h2 (click)="expand()">{{ reminder.name | maxLength }}</h2>
        <p (click)="expand()">{{ reminder.note | maxLength:40 }}</p>
        <span item-right (click)="expand()">
            <ion-icon name='arrow-down' md="ios-arrow-down" *ngIf="!reminder.showMap"></ion-icon>
            <ion-icon name='arrow-up' md="ios-arrow-up" *ngIf="reminder.showMap"></ion-icon>
        </span>
    </ion-item>
    <div *ngIf="reminder.showMap">
        <div [ir-map]="reminder.locations" style="height:300px;width:100%"></div>
    </div>
    <ion-item actions>
        <span item-left primary style="font-size:1.2rem" (click)="editList()">
            <ion-icon name='pin'></ion-icon>
            {{ reminder.listName | maxLength:20 }}
        </span>
        <button item-right (click)="edit()">
            Edit
        </button>
        <button danger item-right (click)="toggleActive()" *ngIf="reminder.activeb">
            Deactivate
        </button>
        <button secondary item-right (click)="toggleActive()" *ngIf="!reminder.activeb">
            Activate
        </button>
    </ion-item>
</ion-card>