<ion-card class="adv-map">
    <ion-item (click)="expand()">
        <ion-icon secondary large item-left name='alarm' *ngIf="reminder.activeb"></ion-icon>
        <ion-icon danger large item-left name='alarm' *ngIf="!reminder.activeb"></ion-icon>
        <h2>{{ reminder.name | maxLength }}</h2>
        <p>{{ reminder.note | maxLength }}</p>
        <span item-right>
            <ion-icon primary name='arrow-down' md="ios-arrow-down" *ngIf="!reminder.showMap"></ion-icon>
            <ion-icon primary name='arrow-up' md="ios-arrow-up" *ngIf="reminder.showMap"></ion-icon>
        </span>
    </ion-item>
    <div *ngIf="reminder.showMap">
        <div [ir-map]="reminder.locations" style="height:300px;width:100%"></div>
    </div>
    <ion-item actions>
        <span item-left>
            <ion-icon name='pin'></ion-icon>
            {{ reminder.listName | maxLength:20 }}
        </span>
        <button danger clear item-right (click)="toggleActive()" *ngIf="reminder.activeb">
            Deactivate
        </button>
        <button secondary clear item-right (click)="toggleActive()" *ngIf="!reminder.activeb">
            Activate
        </button>
        <button clear item-right (click)="edit()">
            Edit
        </button>
    </ion-item>
</ion-card>