<ion-card class="adv-map">
    <ion-item (click)="expand()">
        <ion-icon primary subtle large item-left name='alarm'></ion-icon>
        <h2>{{ reminder.name | maxLength }}</h2>
        <p>{{ reminder.note | maxLength }}</p>
        <span item-right>
            <ion-icon primary name='arrow-down' md="ios-arrow-down" *ngIf="!reminder.showMap"></ion-icon>
            <ion-icon primary name='arrow-up' md="ios-arrow-up" *ngIf="reminder.showMap"></ion-icon>
        </span>
    </ion-item>
    <div *ngIf="reminder.showMap">
        <img src="http://placehold.it/350x150">
    </div>
    <ion-item actions>
        <span item-left>
            <ion-icon name='pin'></ion-icon>
            {{ reminder.listName | maxLength:20 }}
        </span>
        <button clear item-right (click)="toggleActive()">
            <span *ngIf="reminder.activeb">Deactivate</span>
            <span *ngIf="!reminder.activeb">Activate</span>
        </button>
        <button clear item-right (click)="edit()">
            Edit
        </button>
    </ion-item>
</ion-card>