<div>
	<div style="padding: 12px 0;">
		<i class="zmdi zmdi-email zmdi-hc-fw" style="font-size: 20px; opacity: 0.8;"></i>
		<input class="text-input--material" placeholder="Username" type="text" required="" style="margin-left: 4px; width: 236px;">
	</div>

	<div style="padding: 12px 0;">
		<i class="zmdi zmdi-lock zmdi-hc-fw" style="font-size: 20px; opacity: 0.8;"></i>
		<input class="text-input--material" placeholder="Password" type="password" required="" style="margin-left: 4px; width: 236px;">
	</div>

	<div style="padding: 10px 0 4px 0; text-align: right">
		<button class="button button--material--flat">CANCEL</button>
		<button class="button button--material">SUBMIT</button>
	</div>
</div>
<div style="text-align: center">
	<button class="fab" ng-click="define">+</button>
</div>
<!-- <div map id="map"></div> -->
