<ion-navbar *navbar primary>
    <button menuToggle>
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Lists</ion-title>
</ion-navbar>

<ion-content>
    <ion-list *ngIf="lists.length > 0" no-lines>
        <template ngFor #list [ngForOf]="lists">
        <ion-item *ngIf="list.favourite == 1">
            <h2 (click)="edit(list)">{{ list.name }}</h2>
            <p (click)="edit(list)">has 3 locations in it</p>
            <button clear item-right (click)="toggleFavourite(list)">
                <ion-icon primary name="star-outline" *ngIf="list.favourite == 0"></ion-icon>
                <ion-icon primary name="star" *ngIf="list.favourite == 1"></ion-icon>
            </button>
        </ion-item>
        </template>
        <template ngFor #list [ngForOf]="lists">        
        <ion-item *ngIf="list.favourite == 0">
            <h2 (click)="edit(list)">{{ list.name }}</h2>
            <p (click)="edit(list)">has 3 locations in it</p>
            <button clear item-right (click)="toggleFavourite(list)">
                <ion-icon primary name="star-outline" *ngIf="list.favourite == 0"></ion-icon>
                <ion-icon primary name="star" *ngIf="list.favourite == 1"></ion-icon>
            </button>
        </ion-item>
        </template>
    </ion-list>
    <ion-card *ngIf="lists.length == 0">
        <ion-card-header>
            You have no lists yet
        </ion-card-header>
        <ion-card-content>
            To create a new list please click the plus in the bottom right corner :)
        </ion-card-content>
    </ion-card>
</ion-content>

<button fab fab-right fab-bottom (click)="create()" class="fab">
    <ion-icon name="add"></ion-icon>
</button>