<ion-navbar *navbar primary>
    <button menuToggle showWhen="android">
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Locations</ion-title>
    <ion-buttons end showWhen="ios">
        <button royal (click)="create()">
            Add
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <template ngFor #list [ngForOf]="lists">
        <div [ir-list]="list" *ngIf="list.favouriteb"></div>
    </template>
    <template ngFor #list [ngForOf]="lists">
        <div [ir-list]="list" *ngIf="!list.favouriteb"></div>
    </template>
</ion-content>

<button showWhen="android" fab fab-right fab-bottom (click)="create()" class="fab-ontop">
    <ion-icon name="add"></ion-icon>
</button>