<ion-navbar *navbar>
    <button menuToggle showWhen="android">
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Locations</ion-title>
    <ion-buttons end showWhen="ios">
        <button royal (click)="create()">
            Add
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <template ngFor #list [ngForOf]="lists">
        <ion-card class="adv-map">
            <div style="position: relative" *ngIf="list.showMap">
                <img src="http://placehold.it/350x150">
                <!--<button fab fab-right fab-top class="fab-map" (click)="createReminder(list)">
                    <ion-icon name="alarm"></ion-icon>
                </button>-->
            </div>
            <ion-item>
                <ion-icon item-left name='map'></ion-icon>
                <h2>{{ list.name | maxLength:15 }}</h2>
                <button item-right clear secondary (click)="showMap(list)">
                    <ion-icon name='pin'></ion-icon>
                    {{ list.numLocations }} locations
                </button>
            </ion-item>
            <ion-item actions>
                <button item-right clear class="fab-map" (click)="createReminder(list)">
                    <ion-icon name="alarm"></ion-icon>
                    Create reminder
                </button>
                <button lite clear item-right (click)="toggleFavourite(list)">
                    <ion-icon name="star-outline" *ngIf="!list.favouriteb"></ion-icon>
                    <ion-icon name="star" *ngIf="list.favouriteb"></ion-icon>
                    Favourite
                </button>
                <button primary clear item-right (click)="edit(list)">
                    <ion-icon name='create'></ion-icon>
                    Edit
                </button>
            </ion-item>
        </ion-card>
    </template>
</ion-content>

<button showWhen="android" fab fab-right fab-bottom (click)="create()" class="fab-ontop">
    <ion-icon name="add"></ion-icon>
</button>