<ons-dialog var="dialog" modifier="material" cancelable>
    <div class="dialog-material">
        <p class="heading">New reminder</p>
        <div class="row">
            <input class="text-input--material" placeholder="Name" type="text" required>
        </div>
        <div class="row">
            <input class="text-input--material" placeholder="Note" type="text" required>
        </div>
        <div class="row">
            <input class="text-input--material" placeholder="Place" type="text" required>
            <i class="zmdi zmdi-map icon" ui-sref="map"></i>
        </div>

        <p class="helper pull-left">Trigger radius</p>
        <p class="helper pull-right">300m</p>
        <div class="row">
            <input type="range" class="range range--material full-width" value="40">
        </div>
        <p class="helper">Notification</p>
        <div class="row">
            <i class="zmdi zmdi-volume-up icon mt-5"></i>
            <input type="range" class="range range--material pull-right slider-icon" value="40">
        </div>
        <div class="alert-dialog-footer alert-dialog-footer--material">
            <button class="alert-dialog-button alert-dialog-button--material">OK</button>
            <button class="alert-dialog-button alert-dialog-button--material" ng-click="close">CANCEL</button>
        </div>
    </div>
</ons-dialog>