<ion-navbar *navbar primary>
    <ion-title>Edit reminder</ion-title>
    <ion-buttons end>
        <button royal (click)="edit()">
            <ion-icon name="checkmark"></ion-icon>
        </button>
        <button royal danger (click)="delete()">
            <ion-icon name="trash"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Name</ion-label>
            <ion-input type="text" [(ngModel)]="form.name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Note</ion-label>
            <ion-input type="text" [(ngModel)]="form.note"></ion-input>
        </ion-item>

        <ion-item>
            <h2 *ngIf="form.list.name">{{ form.list.name }}</h2>
            <h2 *ngIf="!form.list.name">Select list</h2>
            <button clear item-right (click)="selectList()">
                <ion-icon name="map"></ion-icon>
            </button>
        </ion-item>

        <div class="ionic">
            <div class="range">
                <ion-icon name="volume-up" class="icon"></ion-icon>
                <input type="range" [(ngModel)]="form.volume" min="0" max="100">
                <span item-right style="min-width:40px;text-align:right;">{{form.volume}} %</span>
            </div>
        </div>
    </ion-list>
</ion-content>