<ion-navbar *navbar primary>
    <button menuToggle showWhen="android">
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Reminders</ion-title>
    <ion-buttons end showWhen="ios">
        <button royal (click)="create()">
            Add
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content>
    <template ngFor #reminder [ngForOf]="reminders">
        <ion-card class="adv-map">
            <div style="position: relative" *ngIf="reminder.showMap">
                <img src="http://placehold.it/350x150">
                <button fab fab-right fab-top class="fab-map" (click)="edit(reminder)">
                    <ion-icon name="create"></ion-icon>
                </button>
            </div>
            <ion-item (click)="expand(reminder)">
                <ion-icon subtle large item-left name='alarm'></ion-icon>
                <h2><b>{{ reminder.name }}</b></h2>
                <p>{{ reminder.note }}</p>
            </ion-item>
            <ion-item actions>
                <span item-left secondary>
                    <ion-icon name='pin'></ion-icon>
                    Test location
                </span>
                <button clear item-right (click)="toggleActive(reminder)">
                    Activate
                </button>
                <button clear item-right (click)="edit(reminder)" *ngIf="!reminder.showMap">
                    Edit
                </button>
            </ion-item>
        </ion-card>
    </template>
</ion-content>
<button showWhen="android" fab fab-right fab-bottom (click)="create()" class="fab-ontop">
    <ion-icon name="add"></ion-icon>
</button>