<ion-navbar *navbar>
    <button menuToggle showWhen="android">
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Reminders</ion-title>
    <ion-buttons end showWhen="ios">
        <button royal (click)="create()">
            Add
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content>
    <ion-list *ngIf="reminders.length > 0">
        <template ngFor #reminder [ngForOf]="reminders">
            <ion-item>
                <ion-label (click)="edit(reminder)">
                    <h2>{{ reminder.name | uppercase }}</h2>
                    <p>{{ reminder.note }}</p>
                </ion-label>
                <ion-toggle item-right checked="{{reminder.active}}" (click)="toggleActive(reminder)"></ion-toggle>
            </ion-item>
        </template>
    </ion-list>
    <ion-card *ngIf="reminders.length == 0">
        <ion-card-header>
            You have no reminders yet
        </ion-card-header>
        <ion-card-content>
            To create a new reminder please click the plus in the bottom right corner. Remember, you need to create a list first :)
        </ion-card-content>
    </ion-card>
</ion-content>
<button showWhen="android" fab fab-right fab-bottom (click)="create()" class="fab">
    <ion-icon name="add"></ion-icon>
</button>
